datasets/dataset
object_detection/node_modules
object_detection/src/node_modules
object_detection/frontEndJS/node_modules
crash_detection/TensorFlow/
frontend/node_modules
crash_detection/data/ccd_accidents/
